.titles-block{
    text-align: center;
    padding: 70px 0;

    &__item-h2{
        @include defaultFont(800, normal, $mainColor);
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 10px;

        & span{
            color: $mainDarkColor;
        }
    }

    &__item-h4{
        @include defaultFont(300, normal, $mainDarkColor);
        font-size: 14px;
    }
}